body {
	margin: 0;
	font-size: 1.125rem;
	color: #707070;
	font-family: 'Roboto', sans-serif;
	background: pink;
}

@media (min-width: 650px) {
	body {
		background: orange;
	}
}

@media (min-width: 550px) and (max-width: 649px) {
	body {
		background: magenta;
	}
}

/* Typography */

h1 {
	font-size: 3rem;
	color: #312614;
	text-align: center;
}

.text-accent {
	color: #b7832f;
}

h2 {
	font-size: 1.5rem;
}

p {
	margin-top: 0;
}

/* Layout */

.elephants {
	max-width: 100%;
}

.container {
	width: 90%;
	max-width: 980px;
	margin: 0 auto;
	/* border: 5px solid green; */
}

.cols {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	/* border: 5px solid magenta; */
	margin: 1em 0;
}

@media (max-width: 600px) {
	.cols {
		flex-direction: column;
	}
}

.col {
	/* padding: 0.5em; */
	/* border: 5px solid yellow; */
}

.col-1 {
	width: 20%;
}

.col-2 {
	width: 45%;
}

.col-3 {
	width: 70%;
}

.col-bg {
	background: #312614;
	color: #fff;
	padding: 1em;
}