body {
	margin: 0px;
}

h1 {
	text-align: center;
}

.container {
	width: 50%;
	max-width: 50%;
	border-top: 3px solid green;
}

.elephants {
	width: 100%;
}

.cols {
	display: flex;
	border: 3px solid magenta;
}

.col {
	border: 3px solid yellow;
}